:root {
    --main-bg-color: #1e272e;
    --main-font-color: #e0e6eb;
    --main-border-color: #555c61;
}

@layer initial-style, populated-style;

@layer initial-style {
    
    /* || General Styles */
    html {
        box-sizing: border-box;
    }
    
    *, *::before, *::after {
        box-sizing: inherit;
    }
    
    body {
        background-color: var(--main-bg-color);
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    .primary-header {
        width: 100%;
        max-width: 45.5rem;
        padding: 2rem;
    }
    
    .search-box {
        height: 6.2rem;
        width: 100%;
        max-width: 43.5rem;
        border-radius: 0.9rem;
        margin-top: 1rem;
    }
    
    input {
        min-width: 0;
        padding-left: 2rem;
        border-right: 1px solid var(--main-border-color);
        border-radius: 0.9rem 0 0 0.9rem;
    }
    
    .search-btn {
        width: 8rem;
        border-radius: 0 0.9rem 0.9rem 0;
        border-left: none;
    }
    
    button, input {
        background-color: inherit;
        border: 1px solid var(--main-border-color);
        outline: 0 none;
    }
    
    button:focus, input:focus {
        border: 1px solid var(--main-font-color);
    }

    main {
        margin-top: 3rem;
    }

    h1, h2 {
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 1rem 0;
    }
    
    /* || Typography */
    html {
        font-size: 10px;
    }
    
    body {
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.6rem;
        line-height: 1.6;
        color: var(--main-font-color);
    }

    h1, .logo {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
    }

    .logo {
        font-size: 3.2rem;
    }
    
    input[type="text"] {
        color: inherit;
        font-size: inherit;
    }

    ul, p {
        font-size: 2rem;
    }
    
    /* || Layout */
    /* Body */
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* .primary-header */
    .primary-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
     
    /* Searchbox */
    .search-box {
        display: flex;
        position: relative;
    }
    
    input[type="text"] {
        flex: 1;
    }

    .error {
        position: absolute;
        bottom: -3.5rem;
        left: 1rem;
    }

    /* || Pre-loader styles */
    .cssload-container{
        position:absolute;
        top: 50%;
    }
        
    .cssload-whirlpool,
    .cssload-whirlpool::before,
    .cssload-whirlpool::after {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid rgb(81,105,123);
        border-left-color: rgb(224,230,235);
        border-radius: 749px;
            -o-border-radius: 749px;
            -ms-border-radius: 749px;
            -webkit-border-radius: 749px;
            -moz-border-radius: 749px;
    }

    .cssload-whirlpool {
        margin: -19px 0 0 -19px;
        height: 37px;
        width: 37px;
        animation: cssload-rotate 1150ms linear infinite;
            -o-animation: cssload-rotate 1150ms linear infinite;
            -ms-animation: cssload-rotate 1150ms linear infinite;
            -webkit-animation: cssload-rotate 1150ms linear infinite;
            -moz-animation: cssload-rotate 1150ms linear infinite;
    }

    .cssload-whirlpool::before {
        content: "";
        margin: -17px 0 0 -17px;
        height: 33px;
        width: 33px;
        animation: cssload-rotate 1150ms linear infinite;
            -o-animation: cssload-rotate 1150ms linear infinite;
            -ms-animation: cssload-rotate 1150ms linear infinite;
            -webkit-animation: cssload-rotate 1150ms linear infinite;
            -moz-animation: cssload-rotate 1150ms linear infinite;
    }

    .cssload-whirlpool::after {
        content: "";
        margin: -22px 0 0 -22px;
        height: 42px;
        width: 42px;
        animation: cssload-rotate 2300ms linear infinite;
            -o-animation: cssload-rotate 2300ms linear infinite;
            -ms-animation: cssload-rotate 2300ms linear infinite;
            -webkit-animation: cssload-rotate 2300ms linear infinite;
            -moz-animation: cssload-rotate 2300ms linear infinite;
    }

    @keyframes cssload-rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @-o-keyframes cssload-rotate {
        100% {
            -o-transform: rotate(360deg);
        }
    }

    @-ms-keyframes cssload-rotate {
        100% {
            -ms-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes cssload-rotate {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes cssload-rotate {
        100% {
            -moz-transform: rotate(360deg);
        }
    }
}

@layer populated-style {
    /* || General Styles */
    .populated .primary-header {
        height: 11rem;
        padding: 0 6rem;
        max-width: 100%;
        margin: 0;
        background-color: inherit;
    }

    .populated main {
        width: 100%;
        max-width: 109rem;
        margin-top: 15rem;
        padding: 0 2rem;
    }

    .populated .search-box {
        margin: 0;
    }

    .profile-info {
        max-width: 62rem;
    }

    .profile-header img {
        margin: 0 auto;
    }

    .populated h1 {
        border-bottom: 1px solid var(--main-border-color);
    }
    
    /* || Typography */
    .populated h1 {
        font-size: 4.4rem;
    }

    /* || Layout */
    .populated {
        display: flex;
        align-items: start;
        justify-content: center;
    }
    
    .populated .primary-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
    }
    
    .populated .primary-header > * {
        flex: 1;
    }

    .populated .logo {
        order: 1;
    }
    
    .populated .search-box {
        order: 2;
        flex: 1 43.5rem;
    }
    
    .populated .primary-header .img-logo {
        order: 3;
        display: flex;
        justify-content: right;
    }

    .populated .profile-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 5rem;
    }

    .profile-info {
        flex: 1;
    }

    .profile-stats {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 6rem;
    }
}