/* Box sizing reset (using the alternative box model) */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #1e272e;
    color: #e0e6eb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* HEADER STYLES */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}